<div class="form">
    <form [formGroup]="inscripcionForm" (ngSubmit)="submit()">
        
        <div>
          <mat-form-field appearance="fill">
              <mat-label>Curso</mat-label>
              <input formControlName="nombreCurso" matInput>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Alumno</mat-label>
            <input formControlName="nombreAlumno" matInput>
          </mat-form-field>
        </div>
        <div>
        <mat-form-field appearance="fill">
             <mat-label>Usuario</mat-label>
             <input formControlName="user" matInput>
           </mat-form-field>
        </div>
        <div>
        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input formControlName="fecha" matInput>
          </mat-form-field>
        </div>
        
        <button type="submit">Submit</button>

    </form>
    </div>